#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100vw;
    color: whitesmoke;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    background-color: black;
   
img {
    width: 3rem;
    margin:1.5rem;
}

}

#copy {
    background-color: black;
    width: 100%;  

    p {
        margin-top: 2rem;
        font-size: 1.2rem;
    }


}

